:root{
  /*Cores*/
  --azul: #2A7AE4;
  --azul-rodape: #EAF2FD;
  --azul-hover-1nd: #5595E9;
  --azul-hover-2nd-mobile: #D4E4FA;
  --branco: #FFFFFF;
  --cor-de-fundo: #F5F5F5;
  --preto: #464646;

  
  /*fonte*/
  --fonte-raleway: 'Raleway', sans-serif;
  --fonte-bold: 700;
  --fonte-medium: 500;
  --fonte-light: 400;  
}