.cabecalho__link--login{
  align-items: center;
  background: none;
  border: 1px solid var(--azul);
  color: var(--azul);
  display: flex;
  font-weight: var(--fonte-light);
  font-size: 1rem;
  height: 51px;
  justify-content: center;
  line-height: 18.78px;
  width: 182px;  
}

@media screen and (max-width: 768px) {
  .cabecalho__link--login{
    height: 40px;
    width: 166px;
  }  
}

@media screen and (max-width: 620px) {
  .cabecalho__link--login{
    width: 133px;
  }  
}