.add__area{
  display: flex;
  flex-direction: column;  
  width: 100vw;

  padding: 16px;
  
}

.img__dragDrop{
  margin-top: 16px;

}

#btn-adicionar{
  width: 180px;
}


@media screen and (max-width: 767px) {
  #btn-adicionar{
    display: none;

  }

  .text__ou{
    display: none;
  }

}

@media screen and (min-width: 768px) {
  .btn-responsi{
    display: grid;
    grid-template-columns: .1fr .1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;

  }

  .text__ou{
    margin: 0 32px;

  }

}

@media screen and (min-width: 1024px) {
  .add__area{
    max-width: 1024px;
    margin-top: 32px;
    justify-content: center;
  }
  
}
