.formulario{
  margin-top: 32px;
  display: flex;
  flex-direction: column;

}

.campos{
  display: flex;
  flex-direction: column;
  font-family: var(---fonte-raleway);

}

.input{
  margin-top: 8px;
  width: 328px;
  height: 55px;
  padding-left: 10px;
  font-family: inherit;

  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.137);

}

.input__login{
  width: 275px;
  height: 41px;
}

.input__pesquisar{
  width: 227px;
  height: 40px;

  margin-top: 0;
  padding-left: 15px;

  border-radius: 25px;
  background: none;
  outline: none;

  box-shadow: none;
}

.textarea{
  margin-top: 16px;
  padding-left: 10px;
  font-family: inherit;

  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.137);
}