.link{
  color: var(--azul);
  font-family: inherit;
  font-weight: var(--peso-fonte-bold);
  font-weight: 14px;
}

.link:hover{
  text-decoration: underline;
}

.link__produto{
  font-size: 14px;
}

.link__categoria{
  content: "";
}

.link__categoria::after{
  content: url(../../img/svg/setaVerTudo.svg);
  padding-left: 6.67px;
}

