.rodape{  
  margin-top: 16px;
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: var(--azul-rodape);

}

.rodape__infos{
  display: flex;
  align-items: center;
  flex-direction: column;

}

.sobre{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  margin-top: 26.42px;

}

.img__rodape{
  width: 176px;
  height: 50px;

}

.link__rodape{
  font-family: inherit;
  font-family: var(--peso-fonte-medium);
  font-size: 16px;

}

.autoria{
  margin-top: 26px;
  
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--branco);

  width: 100vw;
  height: 102px;

  font-family: var(---fonte-raleway);
  font-weight: var(--peso-fonte-medium);
  font-size: 16px;
}